<%= simple_form_for(@nutrition, html: { class: 'form-vertical' }) do |f| %>
<small>Macro nutriets in grams (g)</small>

  <h3>Date</h3>
  <%= f.input :date%>
  <h3>Meal type</h3>
  <%= f.input :name%>

  <br>

  <%= f.button :submit%>
  <% end %>

<%= link_to "Cancel", root_path %>