
<h4>Name</h4>
<p><%= meal.name %></p>

<h4>Protein</h4>
<p><%= meal.protein %></p>

<h4>Carbohydrates</h4>
<p><%= meal.carbohydrates %></p>

<h4>Fat</h4>
<p><%= meal.fat %></p>

<h4>Calories</h4>
<p><%= meal.calories %></p>